{% extends 'tracker/base.html' %}
{% block content %}
 <div>
     {% csrf_token %}
     <h4>{{ title }}</h4>
     <div class="flex-row"></div>

     <div>
         {{ form.title }}
         {{ form.title.errors }}
    </div>
     <div>
         {{ form.description }}
         {{ form.description.errors }}
    </div>

     <div>
         <label>Image: </label>
         {{ form.image }}
         {{ form.image.errors }}
    </div>

     <div class="flex-row"></div>

     <div class="row">
         <a href="{% url 'profile' %}">
            <button type="button">Back</button>
        </a>
         <input type="submit" class="form" value="Submit">
     </div>

 </div>
{% endblock content %}